common:
    latitude: 0.0
    longitude: 0.0
    # Possible API names: openmeteo/meteoblue
    default-api: openmeteo
meteoblue:
    # Meteoblue API.
    # How to get access: https://www.meteoblue.com/de/weather-api/apikey
    api-key: my-secret-key
    shared-secret: my-shared-secret
